#compVenders {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
}

#compVenders a {
padding: 5rem;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 0;
  
  background-repeat: no-repeat;
  background-size: contain;
}

#naga a{
    background-image: url("../images/Naga.png");

}

#ibjjf a{
    background-image: url("../images/ibjjfMain.png");
}

#newbreed a{
    background-image: url("../images/newbreed.png");
}

@media (min-width: 1000px) {
  #compVenders {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
