#compVenders {
  display: grid;
  grid-gap: var(--defaultGap);
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

#compVenders li{
    width: 100%;
    max-height: 130px;
}
#compVenders a {
    
padding: 6rem;
  display: inline-block;
  
  width: 100%;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#naga a{
    background-image: url("../images/Naga.png");

}

#ibjjf a{
    background-image: url("../images/ibjjfMain.png");
}

#newbreed a{
    background-image: url("../images/newbreed.png");
}

@media (min-width: 1000px) {
  #compVenders {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
