
section{
    display: grid;
    grid-gap: var(--defaultGap);
    grid-template-areas: 
        "heading"
        "article"
        ;
}

article{
    display: grid;
    grid-template-areas: 
        "video"
        "card";
        grid-gap: var(--defaultGap);
        margin-bottom: 4rem;
}

.card{
    grid-area: card;
    
}

.videoPlayer{
    grid-area: video;
}



@media (min-width: 900px){
    article{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "card video";
    }

    article:nth-of-type(2n){
        grid-template-areas: "video card";
    }

}