section ul{
    display: grid;
     grid-template-columns: 1fr;
    grid-gap: var(--defaultGap);
}

li{
    display: grid;
    grid-template-areas: 
        "video"
        "heading";
}

li h3{
    grid-area: heading;
}

@media (min-width: 1000px){
    section ul{
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }
}