section ul{
    display: grid;
    /* Handles responsive grid */
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    grid-gap: var(--defaultGap);
}

li{
    display: grid;
    grid-template-areas: 
        "video"
        "heading";
}

h3{
    grid-area: heading;
    font-size: 3rem;
    text-overflow: ellipsis;
}
