@import url("https://fonts.googleapis.com/css?family=Anton|Oxygen|Shojumaru&display=swap");

html {
  /* base 10 font */
  font-size: 62.5%;

  /*Colors */
  --backgroundOne: #c8c8c8;
  --backgroundTwo: #e6e1e5;
  --accentOne: #1b998b;
  --accentTwo: #124559;
  --fontOnLight: #37323e;
  /* I wish I could just use hex to get opacity */
  --cardShadow: rgba(18, 69, 89, 0.75);

  /* fonts */
  --primaryHeading: "Shojumaru";
  --secondaryHeading: "Anton";
  --contentText: "Oxygen";

  /* Layout */
  --defaultGap: 2rem;

  /*sizing*/

  --maxWidth: 1400px;
}

body {
  background-color: var(--backgroundOne);
  font: 1.8rem var(--contentText);
  line-height: 1.75;
  min-height: 100vh;
  font: 2.5rem var(--contentText);
  color: var(--fontOnLight);
  font-weight: lighter;
}

header, footer{
  width: 100vw;
}
.wrapper {
  max-width: var(--maxWidth);
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 3.5rem;
}

h1 {
  grid-area: heading;
  justify-self: right;
  font-size: 0;
  padding: 5rem;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

h2 {
  font: 3.5rem var(--primaryHeading);
  color: var(--accentOne);
  margin-top: 1rem;
}

h3 {
  font: 3rem var(--secondaryHeading);
  color: var(--accentTwo);
}

h4 {
  font: 2.5rem var(--secondaryHeading);

  color: var(--accentOne);
}

header {
  background-color: var(--accentOne);
  font: 2.5rem var(--secondaryHeading);
}

#headerContent {
  width: 100%;
  display: grid;
  grid-template-areas: "nav heading";
}

a {
  color: var(--fontOnLight);
}

a:hover {
  color: var(--backgroundOne);
}

[aria-current] {
  color: var(--backgroundTwo);
}

[aria-controls="menuList"] {
  display: block;
  background-color: transparent;
  align-self: center;
  margin-bottom: 2rem;
  
}

nav {
  justify-self: left;
  align-self: center;
  grid-area: nav;
}

nav ul {
  max-height: 0;
  overflow: hidden;
  transform: translateX(-100px);
  transition: all .75s;
}



[aria-expanded="true"] ~ ul {
  display: grid;
  max-height: 500px;
  transform: translateX(0);
}

[aria-expanded="false"] #closeNav {
  display: none;
}

[aria-expanded="true"] #closeNav {
  display: inline-block;
  font-size: 0;
    padding: 3rem;
    background-image: url("../images/icons/close-line.png");
    background-position: center;
    background-size: cover;
    
}

[aria-expanded="false"] #openNav {
    display: inline-block;
    font-size: 0;
    padding: 3rem;
    background-image: url("../images/icons/menu-2-line.png");
    background-position: center;
    background-size: cover;
    
  }
[aria-expanded="true"] #openNav {
  display: none;
}

.card {
  background-color: var(--backgroundTwo);
  padding: 3rem;
  box-shadow: 10px 10px 10px var(--cardShadow);
}

.videoPlayer {
  position: relative;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 56.25%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  background-color: var(--accentOne);
}

footer .wrapper {
  display: grid;
  grid-gap: 3rem;
  grid-template-areas:
    "h2"
    "input"
    "socials";
}

footer h2 {
  font-size: 2.75rem;
  color: var(--accentTwo);
}

footer form {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 2fr 1fr;
  align-content: center;
}
input {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--backgroundTwo);
  width: 100%;
}
label {
  display: none;
}
button{
  transition: all .75s ease-in-out;
}
button:hover{
  
  transform: scale(1.025);
  cursor: pointer;
  color: var(--accentTwo);
  background-color: var(--backgroundOne)
}
footer button {
  display: inline-block;
  padding: 0.75rem;
  color: var(--backgroundTwo);
  font: 2rem var(--primaryHeading);
  background-color: var(--accentTwo);
}

#socials {
  grid-area: socials;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 6rem 6rem 6rem;
  align-items: center;
  justify-content: center;
}

#socials li {
  display: inline-block;
  width: 100%;
  max-height: 130px;
}

#socials a {
  display: block;
  font-size: 0;
  padding: 2.5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#twitter a {
  background-image: url("../images/icons/twitter-fill.png");
}

#instagram a {
  background-image: url("../images/icons/instagram-fill.png");
}

#facebook a {
  background-image: url("../images/icons/facebook-fill.png");
}
@media (min-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: 20rem 10fr;
    grid-template-areas:
      "header main"
      "foot foot";
  }

  header {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: header;
    text-align: center;
  }

  header, footer{
    width: 100%;
  }
  h1 {
    justify-self: center;
    padding: 10rem;
  }

  nav {
    justify-self: center;
  }

  nav ul {
    transform: translateX(0);
    max-height: 50rem;
  }
  nav li {
    margin: 2rem 0;
  }

  #headerContent {
    position: fixed;
    left: 0;
    max-width: 20rem;
    grid-template-areas:
      "heading"
      "nav";

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }

  [aria-controls="menuList"] {
    display: none;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: foot;
  }
  footer .wrapper {
    display: grid;
    grid-template-areas:
      "h2 h2 h2"
      "input .... socials";
  }

  footer form {
    grid-area: input;
  }

  #socials {
    grid-area: socials;
    justify-content: right;
  }
}
